.btn {
  height: 4.5rem;
  width: 12rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--color-white);
  background-color: var(--color-sand);
  color: var(--color-beige);
  font-family: var(--font-audiowide);
  margin-bottom: 1rem;
}
