<!DOCTYPE html>
<html>
	{% include 'base_head.html.twig' %}
	<!-- BODY -->
	<body>
		<!-- SUCCES MESSAGE FORM -->
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<!-- NAVBAR -->
		{% include "_components/_navbar.html.twig" %}
		<!-- MAIN -->
		<main>
			{% block main %}
			{% include "_components/_home.html.twig" %}
			{% endblock %}
		</main>
		<!-- FOOTER -->
		{% include "_components/_footer.html.twig" %}
	</body>
</html>
