<section class="categorie">
	<div class="headCategorie reveal fade-bottom">
		<h2 class="titleCategorie">
			Categorie<span class="point">.</span>
		</h2>
		<p>Activé notre newsletter pour recevoir toute nos nouvelles occasion et nouveau services.</p>
	</div>

	<div class="wrapperCategorie">
		<a href="{{ path('home') }}#services" class="categorie reveal fade-bottomOne">
			<h3>Nos Services</h3>
		</a>
		<a href="{{ path('nosOccasions') }}" class="categorie reveal fade-bottomTwo">
			<h3>Nos Occasions</h3>
		</a>
		<a href="{{ path('contact') }}" class="categorie reveal fade-bottomThree">
			<h3>Contact</h3>
		</a>
	</div>


	<div class="modalite reveal fade-bottom">
		<div class="item reveal fade-bottomOne">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 74 71" fill="none">
				<path d="M44.0531 11.9038L21.5178 1.20629C19.5869 0.298974 17.4478 0.43068 15.6094 1.60141L10.3022 4.95261C9.01875 5.77212 8.92625 8.0404 10.1287 9.02089L27.1141 22.8501L15.725 30.211L8.99563 26.4208C7.98969 25.8501 6.82188 25.8794 5.83906 26.5086L2.11594 28.8647C1.04062 29.5525 0.751563 31.3232 1.53781 32.4793L9.99 44.9622C10.6953 46.0012 11.7244 46.6012 12.7997 46.6012H28.7213C29.2994 46.6012 29.8659 46.4256 30.3747 46.1037L61.9287 26.1428C67.3053 22.733 71.4678 16.8794 73.5838 9.75259C74.6822 6.0648 72.52 2.1136 69.3981 2.1136H62.7612C60.4256 2.1136 58.1131 2.81604 56.0319 4.16237L44.0531 11.9038ZM0 65.3328C0 67.9231 1.65344 70.0158 3.7 70.0158H70.3C72.3466 70.0158 74 67.9231 74 65.3328C74 62.7426 72.3466 60.6499 70.3 60.6499H3.7C1.65344 60.6499 0 62.7426 0 65.3328Z" fill="#E47610"/>
			</svg>
			<p>Frais de livraison gratuit dès de commande 150€</p>
		</div>
		<div class="item reveal fade-bottomTwo">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 74 71" fill="none">
				<path d="M5.55 0.612061C2.48594 0.612061 0 3.52647 0 7.11866V50.496C0 54.0882 2.48594 57.0026 5.55 57.0026H7.4C7.4 64.1869 12.3719 70.0158 18.5 70.0158C24.6281 70.0158 29.6 64.1869 29.6 57.0026H44.4C44.4 64.1869 49.3719 70.0158 55.5 70.0158C61.6281 70.0158 66.6 64.1869 66.6 57.0026H70.3C72.3466 57.0026 74 55.0641 74 52.6648C74 50.2655 72.3466 48.3271 70.3 48.3271V39.6516V35.3139V32.779C70.3 30.4746 69.5253 28.2651 68.1378 26.6384L59.2 16.1601C57.8125 14.5335 55.9278 13.6253 53.9622 13.6253H48.1V7.11866C48.1 3.52647 45.6141 0.612061 42.55 0.612061H5.55ZM48.1 22.3007H53.9622L62.9 32.779V35.3139H48.1V22.3007ZM12.95 57.0026C12.95 55.2769 13.5347 53.6219 14.5756 52.4017C15.6164 51.1815 17.028 50.496 18.5 50.496C19.972 50.496 21.3836 51.1815 22.4244 52.4017C23.4653 53.6219 24.05 55.2769 24.05 57.0026C24.05 58.7282 23.4653 60.3832 22.4244 61.6034C21.3836 62.8236 19.972 63.5092 18.5 63.5092C17.028 63.5092 15.6164 62.8236 14.5756 61.6034C13.5347 60.3832 12.95 58.7282 12.95 57.0026ZM55.5 50.496C56.972 50.496 58.3836 51.1815 59.4244 52.4017C60.4653 53.6219 61.05 55.2769 61.05 57.0026C61.05 58.7282 60.4653 60.3832 59.4244 61.6034C58.3836 62.8236 56.972 63.5092 55.5 63.5092C54.028 63.5092 52.6164 62.8236 51.5756 61.6034C50.5347 60.3832 49.95 58.7282 49.95 57.0026C49.95 55.2769 50.5347 53.6219 51.5756 52.4017C52.6164 51.1815 54.028 50.496 55.5 50.496Z" fill="#E47610"/>
			</svg>
			<p>Livraison de vos pièces en magasin en 3 à 4 jours</p>
		</div>
		<div class="item reveal fade-bottomThree">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 75 72" fill="none">
				<path d="M8.45215 27.1406L9.8291 29.4469C11.0449 31.4859 13.0371 32.9906 15.3955 33.6375L23.877 35.9578C26.3965 36.6469 28.125 38.8547 28.125 41.3719V46.9828C28.125 48.5297 29.0332 49.9359 30.4688 50.625C31.9043 51.3141 32.8125 52.7203 32.8125 54.2672V59.7516C32.8125 61.9453 34.9951 63.5344 37.1924 62.9297C39.5508 62.2828 41.3818 60.4688 41.9824 58.1766L42.3926 56.6016C43.0078 54.225 44.6191 52.1859 46.8311 50.9766L48.0176 50.3297C50.2148 49.1344 51.5625 46.8844 51.5625 44.4656V43.2984C51.5625 41.5125 50.8154 39.7969 49.4971 38.5312L48.9258 37.9828C47.6074 36.7172 45.8203 36 43.96 36H37.6465C36.0205 36 34.4092 35.5922 32.9883 34.8188L27.9346 32.0484C27.3047 31.6969 26.8213 31.1344 26.5869 30.4734C26.1182 29.1234 26.748 27.6609 28.0811 27.0281L28.9453 26.6063C29.9121 26.1422 31.04 26.0578 32.0654 26.3953L35.4639 27.4781C36.665 27.8578 37.9834 27.4219 38.6719 26.4234C39.3604 25.4391 39.2871 24.1313 38.4961 23.2172L36.5039 20.925C35.0391 19.2375 35.0537 16.7766 36.5479 15.1172L38.8477 12.5437C40.1367 11.0953 40.3418 9.02812 39.3604 7.38281L39.0088 6.79219C38.4961 6.76406 37.998 6.75 37.4854 6.75C23.8916 6.75 12.3633 15.3141 8.45215 27.1406ZM67.9688 36C67.9688 30.825 66.5625 25.9594 64.1016 21.7266L60.3516 23.175C58.0518 24.0609 56.8652 26.5219 57.6416 28.7719L60.1172 35.9016C60.6299 37.3641 61.875 38.475 63.4277 38.8406L67.6904 39.8672C67.8662 38.6016 67.9541 37.3078 67.9541 36H67.9688ZM0 36C0 26.4522 3.95088 17.2955 10.9835 10.5442C18.0161 3.79285 27.5544 0 37.5 0C47.4456 0 56.9839 3.79285 64.0165 10.5442C71.0491 17.2955 75 26.4522 75 36C75 45.5478 71.0491 54.7045 64.0165 61.4558C56.9839 68.2072 47.4456 72 37.5 72C27.5544 72 18.0161 68.2072 10.9835 61.4558C3.95088 54.7045 0 45.5478 0 36Z" fill="#E47610"/>
			</svg>
			<p>Piéces et main d'oeuvres garantie 3 mois</p>
		</div>
		<div class="item reveal fade-bottomFour">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 68 69" fill="none">
				<path d="M51.9241 19.7159H44.553C41.9592 19.7159 39.8636 21.9181 39.8636 24.644C39.8636 27.3698 41.9592 29.572 44.553 29.572H63.3106C65.9044 29.572 68 27.3698 68 24.644V4.93187C68 2.20606 65.9044 0.00385025 63.3106 0.00385025C60.7168 0.00385025 58.6212 2.20606 58.6212 4.93187V12.8167L56.042 10.1063C43.2194 -3.36876 22.4395 -3.36876 9.61694 10.1063C-3.20565 23.5814 -3.20565 45.4186 9.61694 58.8937C22.4395 72.3688 43.2194 72.3688 56.042 58.8937C57.8738 56.9687 57.8738 53.8425 56.042 51.9175C54.2102 49.9925 51.2354 49.9925 49.4036 51.9175C40.2446 61.5425 25.3997 61.5425 16.2407 51.9175C7.08173 42.2924 7.08173 26.6922 16.2407 17.0671C25.3997 7.44208 40.2446 7.44208 49.4036 17.0671L51.9241 19.7159Z" fill="#E47610"/>
			</svg>
			<p>Retour de vos pièces commander en magasin pendent 2 ans</p>
		</div>
	</div>
</section>
