:root {
  --font-size-nav: ;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-sand: #e4bf94;
  --color-orange: #e47610;
  --color-brown: #421e0a;
  --color-beige: #ffe0bc;
  --color-beige-dark: #bfac9a;
  --background-color-white: #ffffff;
  --background-color-black: #000000;
  --background-color-sand: #e4bf94;
  --background-color-orange: #e47610;
  --background-color-brown: #421e0a;
  --background-color-brown-clear: #774c34;
  --background-color-beige: #ffe0bc;
  --background-color-beige-dark: #bfac9a;
  --font-audiowide: "audiowide";
  --font-bethellen: "bethellen";
}
