header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .voitureRouiller {
    position: relative;
    background-image: url(assets/voitureSable.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;

    .newGreatThings {
      display: block;
      transform: translate(70%, 40%);
      width: 40%;
      height: auto;
    }
  }
}
